<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>
    Данное письмо сформировано автоматически системой HR Easy. Пожалуйста, не отвечайте на него.
</p>
<hr>

<p>Добрый день! </p>
<p>
    От сотрудника ${employee.displayName} поступил запрос.
    <ul>
        <li>Идентификатор запрос: ${requestId}</li>
        <li>Данные для обратной связи:
            <ul>
                <li>Почта: <a href="mailto:${employee.email}">employee.email</a></li>
                <li>Telegram Account: <a href="https://t.me/:${employee.telegram}">employee.telegram</a></li>
            </ul>
        </li>
    </ul>
</p>
<hr>

<p>
    ${request.message}
</p>

<hr>
<p>
    Данное письмо сформировано автоматически системой HR Easy. Пожалуйста, не отвечайте на него.
</p>
</body>
</html>
