<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>
    Данное письмо сформировано автоматически системой HR Easy. Пожалуйста, не отвечайте на него.
</p>
<hr>

<p>Добрый день! </p>
<p>
    От сотрудника <span th:text="${employeeDisplayName}"></span> поступил запрос.
<ul>
    <li>Идентификатор запроса: <span th:text="${requestId}">${requestId}</span></li>
    <li>Группа: <span th:text="${requestGroup}?:'-'">-</span></li>
    <li>Категория: <span th:text="${requestCategory}?:'-'">-</span></li>
    <li>Данные для обратной связи:
        <ul>
            <li>Почта: <a th:href="'mailto:'+${employeeEmail}" th:text="${employeeEmail}">mail</a></li>
            <li th:if="${employeeTelegramLink!=null}">Telegram Account: <a th:href="${employeeTelegramLink}" th:text="${employeeTelegram}">telegram</a></li>
        </ul>
    </li>
</ul>
</p>
<hr>

<p th:text="${requestMessage}">
</p>

<hr>
<p>
    Данное письмо сформировано автоматически системой HR Easy. Пожалуйста, не отвечайте на него.
</p>
</body>
</html>
