<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p><span th:text="${employeeFirstname}">FirstName</span> <span th:text="${employeeLastname}">LastName</span>, добрый
    день! </p>
<p>
    У вас запланирован отпуск с <span th:text="${#temporals.format(startDate)}">Start Date</span> по <span
        th:text="${#temporals.format(endDate)}">End Date</span> продолжительностью <span
        th:text="${daysNumber}">n days</span>
    календарных дней.
</p>
<p>
    Просьба подтвердить даты отпуска в письме для anna.gulynina@stm-labs.ru и оформить заявление в "1С: Кабинет сотрудника".
    Заявление на отпуск пишется за 2 недели до начала отпуска!
    В случае изменения дат отпуска либо невозможности использовать отпуск в указанный период, просим Вас сообщить даты переноса отпуска письменно на электронную почту своего руководителя проекта и специалиста по кадрам.
</p>
<p>
    <b>Ответ необходимо отправить в отдел HR - anna.gulynina@stm-labs.ru</b>
</p>
<p>
    Если вы ещё не перешли на кадровый электронный документооборот, используйте бланк заявления.
</p>

<hr>
<p>
    Данное письмо сформировано автоматически системой HR Easy. Пожалуйста, не отвечайте на него.
</p>
</body>
</html>
